* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
}
.sidebar {
  background-color: #2e9979;
}
.sidebar {
  overflow: auto;
}
.database-selector-container {
  padding: 10px 10px 14px 10px;
}
.database-selector-container .chosen-container {
  width: 100% !important;
}
.chosen-container-single .chosen-single {
  background: transparent;
  border: 1px solid #fff;
  box-shadow: none;
  color: #fff;
  height: 24px;
  font-size: 12px;
  border-radius: 17px;
  line-height: 1.4em;
}
.chosen-container-single .chosen-single span {
  padding: 3px;
}
.chosen-with-drop .chosen-single {
  color: #333;
}
.sidebar-list-wrapper {
  height: 100%;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  color: #fff;
  margin: 0;
}
.sidebar-list li {
  padding: 8px 10px;
  border-bottom: 1px solid #fff;
  font-size: 12px;
  max-width: 250px;
  word-wrap: break-word;
  -webkit-user-select: none;
}
.sidebar-list li.disabled {
  background-color: #71ae9c;
  color: #dae7e3;
}
.sidebar-list li:hover {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}
.filtered {
  display: none;
}
.sidebar-list-header {
  border-bottom: 1px solid #fff;
  flex-shrink: 0;
}
#sidebar-list-filter {
  background: transparent;
  border: 0;
  font-size: 13px;
  padding: 8px 10px;
  width: 100%;
  color: #fff;
}
#sidebar-list-filter::-webkit-input-placeholder {
  color: #c4e5dd;
}
.sidebar-toolbar {
  height: 35px;
  flex-shrink: 0;
  background-color: #338069;
}
.btn {
  border-radius: 5px;
  padding: 5px 8px;
  color: #fff;
  z-index: 5;
}
.btn.btn-green {
  background: #2e9979;
  border: 1px solid #38a081;
}
.query-section {
  border-bottom: 1px solid #dfdfdf;
}
.go-btn:hover {
  cursor: pointer;
}
.CodeMirror {
  min-height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.toolbar {
  padding: 5px 10px;
  text-align: right;
  background-color: #d9d7dd;
}
.results-section {
  font-size: 12px;
}
.results-section table {
  table-layout: auto;
  min-width: 100%;
  padding: 10px;
  vertical-align: top;
  border-collapse: collapse;
}
.results-section th {
  text-align: left;
  cursor: pointer;
}
.results-section th::after {
  content: ' \25BC';
  color: transparent;
}
.results-section .sort-asc::after {
  content: ' \25BC';
  color: #000;
}
.results-section .sort-desc::after {
  content: ' \25B2';
  color: #000;
}
.results-section td,
.results-section th {
  padding: 3px 5px;
  white-space: nowrap;
}
.results-section tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.results-section tr:nth-child(1) {
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: block;
  position: fixed;
  margin-top: 0;
}
.results-section .message {
  padding: 10px;
}
.results-section .error {
  color: #c56f5f;
}
.type-datetime {
  white-space: nowrap;
}
.row-flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.col-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.center-content {
  align-content: center;
  justify-content: center;
}
.sidebar {
  flex: 1;
}
.main-container {
  flex: 4;
}
.main-top {
  flex: 1;
  position: relative;
}
.main-bottom {
  display: flex;
  flex: 1;
}
.sidebar-list-wrapper {
  overflow: auto;
  flex-direction: column;
}
.scroll-container {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: auto;
}
