// Button

.btn {
  border-radius: 5px;
  padding: 5px 8px;
  color: #FFF;
  z-index: 5;
}

.btn.btn-green {
  background: $green;
  border: 1px solid $green;
}

.btn.btn-red {
  background: $red;
  border: 1px solid $red
}
