.row-flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.col-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-content {
  align-content: center;
  justify-content: center;
}

.sidebar {
  flex: 1;
}

.main-container {
  flex: 4;
}

.main-top {
  flex: 1;
  position: relative;
}

.main-bottom {
  flex: 1;
  overflow: auto;
}

.sidebar-list-wrapper {
  overflow: auto
}