@require('./components.styl');

.query-section {
  border-bottom: 1px solid #DFDFDF;
}

.go-btn:hover {
  cursor: pointer;
}

.CodeMirror {
  min-height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.toolbar {
  padding: 5px 10px;
  text-align: right;
  background-color: #D9D7DD;
}
