@require('../variables.styl');
@require('../resets');
@require('../layout.styl');
@require('../components.styl');
@require('../sidebar')

.sidebar {
  background-color: $green;
}

.connections
  max-width: 300px;
  align-self: center;

  input
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 12px;

  hr
    margin: 0
    margin-bottom: 10px
    border: 0
    border-top: 1px solid #B0B0B0